
<header class="container">
    <div class="row header-panel">
        <div class="col-sm-6 col-md-6 pull-left header-title ">
            海·星の博客
        </div>
        <div class="col-sm-6 col-md-6 pull-right header-search text-center" >
            <div class="row">
                <label class="radio-inline">
                    <input type="radio" name="search" value="thissite" checked>站内
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search" value="theweb" />全网<br />
                </label>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-3">
                    <input type="text" name="q" size="10" class="form-control header-search-input" title="searchfield" />
                </div>
                <div class="col-md-3 col-md-pull-1">
                    <input type="button" class="btn btn-default" name="Search" value="搜索" alt="搜索" title="Search" />
                </div>
            </div>
            @*<ul class="pull-right">
                <li><a href="/admin">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>*@
        </div>
    </div>
</header>

