
<nav class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <a class="brand" href="/">
                海·星の博客
            </a>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            @*<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="media/image/menu-toggler.png" alt="" />
            </a>*@
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/Metronic/image/avatar1_small.jpg" />
                        <span class="username">Bob Nilson</span>
                        <i class="fa fa-angle-down "></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="extra_profile.html"><i class="icon-user"></i> 我的关注</a></li>
                        <li><a href="page_calendar.html"><i class="icon-calendar"></i> 我的收藏</a></li>
                        <li><a href="page_calendar.html"><i class="icon-calendar"></i> 我的收藏</a></li>
                        <li><a href="inbox.html"><i class="fa fa-envelope-o"></i> 消息</a></li>
                        <li class="divider"></li>
                        <li><a href="extra_lock.html"><i class="fa fa-user-o"></i> 个人中心</a></li>
                        <li><a href="extra_lock.html"><i class="fa fa-cog"></i> 账号设置</a></li>
                        <li><a href="login.html"><i class="fa fa-sign-out"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    
</nav>

@*<div class="row">
        <div class="pull-left header-title ">
            海·星の博客
        </div>
        <div class="col-sm-6 col-md-6 pull-right text-center">
            <div class="row">
                <div class="col-md-5 col-md-offset-3"></div>
                <div class="col-md-3 col-md-pull-1">
                    <ul class="pull-right nav">
                        @if (UserContext.LoginUser == null)
                        {
                            <li><a href="/login">登录</a></li>
                                <li><a href="/register">注册</a></li>
                        }
                        else
                        {
                            <li class="dropdown user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img alt="" src="media/image/avatar1_small.jpg" />
                                    <span class="username">@UserContext.LoginUser.NickName</span>
                                    <i class="icon-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
                                    <li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
                                    <li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox(3)</a></li>
                                    <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
                                    <li class="divider"></li>
                                    <li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>
                                    <li><a href="/admin/account/logout"><i class="icon-key"></i>退出</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row" style="padding-top:3px;">
                <label class="radio-inline">
                    <input type="radio" name="search" value="thissite" checked>站内
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search" value="theweb" />全网<br />
                </label>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-3" style="right:3%;">
                    <input type="text" name="q" size="10" class="form-control header-search-input" title="searchfield" />
                </div>
                <div class="col-md-3 col-md-pull-1">
                    <input type="button" class="btn btn-default" name="Search" value="搜索" alt="搜索" title="Search" />
                </div>
            </div>
        </div>
    </div>*@
@*<div class="topnav">
        <nav data-scroll-reveal="enter bottom over 0.5s">
            <a href="index.html">
                <span>首页</span>
                <span class="en">Home</span>
            </a>
            <a href="about.html">
                <span>关于我</span>
                <span class="en">About</span>
            </a>
            <a href="manshenghuo.html">
                <span>慢生活</span>
                <span class="en">Life</span>
            </a>
            <a href="learn.html">
                <span>碎言碎语</span>
                <span class="en">Doing</span>
            </a>
            <a href="mbfx.html">
                <span>模板分享</span>
                <span class="en">Share</span>
            </a>
            <a href="learn.html">
                <span>学无止境</span>
                <span class="en">Learn</span>
            </a>
            <a href="gbook.html">
                <span>留言</span>
                <span class="en">Saying</span>
            </a>
        </nav>
    </div>*@