<nav class="navbar navbar-expand-sm bg-dark navbar-dark blog-header fixed-top">
    <a class="navbar-brand" href="/">
        海·星の博客
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item my-auto ml-2 ml-md-0">
                <a href="/edit/postedit" target="_blank" class="text-light">
                    <span class="fa fa-edit"></span> 写博客
                </a>
            </li>
            @if (UserContext.LoginUser == null)
            {
                <li class="nav-item my-auto ml-2 ml-md-0">
                    <a href="/register" class="text-light">
                        <i class="fa fa-user"></i> 注册
                    </a>
                </li>
                <li class="nav-item my-auto ml-2 ml-md-0">
                    <a href="/login" class="text-light">
                        <i class="fa  fa-arrow-circle-o-right"></i> 登录
                    </a>
                </li>
            }
            else
            {
                <li class="dropdown user nav-item ml-2 ml-md-0">
                    <a href="#" class="dropdown-toggle text-light" data-toggle="dropdown">
                        <img class="blog-header-image" src="~/images/avatar1_small.jpg" />
                        <span>@UserContext.LoginUser.NickName</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="extra_profile.html">
                            <i class="fa fa-heart-o hx-fa-same"></i> 我的关注
                        </a>
                        <a class="dropdown-item" href="page_calendar.html">
                            <i class="fa fa-bookmark-o hx-fa-same"></i> 我的收藏
                        </a>
                        <a class="dropdown-item" href="inbox.html">
                            <i class="fa fa-envelope-o hx-fa-same"></i> 消息
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="extra_lock.html">
                            <i class="fa fa-user-o hx-fa-same"></i> 个人中心
                        </a>
                        <a class="dropdown-item" href="extra_lock.html">
                            <i class="fa fa-cog hx-fa-same"></i> 账号设置
                        </a>
                        <a class="dropdown-item" href="/admin/account/logout">
                            <i class="fa fa-sign-out hx-fa-same"></i> 退出
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>
