
/*@import url('/Content/font/');*/

body, html {
    height: 100%;
}

body {
    font-family: 'PingFang SC','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei','Noto Sans CJK SC',Sathu,EucrosiaUPC,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #e9ecef;
}
/**************公共的样式*************************/
.hx-container {
    transform: translateY(3rem);
    -ms-transform: translateY(3rem); /* IE 9 */
    -moz-transform: translateY(3rem); /* Firefox */
    -webkit-transform: translateY(3rem); /* Safari 和 Chrome */
    -o-transform: translateY(3rem); /* Opera */
    padding-left: initial;
    padding-right: initial;
}

.hx-white-container {
    background: #fff;
}

.hx-content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .hx-content-nowrap p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.hx-gray-text {
    color: #8a8a8a;
}

.hx-blue-text {
    color: #3399ea;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgba(123, 123, 123, 0.85);
}

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        color: #428bca;
    }

.hx-fa-same {
    width: 1rem;
    text-align: center;
}

.hx-minw-0 {
    min-width: 1rem !important;
}

.hx-minw-1 {
    min-width: 5rem !important;
}

.hx-minw-2 {
    min-width: 10rem !important;
}

.hx-minw-3 {
    min-width: 15rem !important;
}

.hx-minw-4 {
    min-width: 20rem !important;
}

.hx-minw-5 {
    min-width: 25rem !important;
}

.hx-maxw-0 {
    max-width: 1rem !important;
}

.hx-maxw-1 {
    max-width: 5rem !important;
}

.hx-maxw-2 {
    max-width: 10rem !important;
}

.hx-maxw-3 {
    max-width: 15rem !important;
}

.hx-maxw-4 {
    max-width: 20rem !important;
}

.hx-maxw-5 {
    max-width: 25rem !important;
}

.hx-minh-0 {
    min-height: 1rem !important;
}

.hx-minh-1 {
    min-height: 5rem !important;
}

.hx-minh-2 {
    min-height: 10rem !important;
}

.hx-minh-3 {
    min-height: 15rem !important;
}

.hx-minh-4 {
    min-height: 20rem !important;
}

.hx-minh-5 {
    min-height: 25rem !important;
}

.hx-maxh-0 {
    max-height: 1rem !important;
}

.hx-maxh-1 {
    max-height: 5rem !important;
}

.hx-maxh-2 {
    max-height: 10rem !important;
}

.hx-maxh-3 {
    max-height: 15rem !important;
}

.hx-maxh-4 {
    max-height: 20rem !important;
}

.hx-minh-5 {
    min-height: 25rem !important;
}
/**************博客的头部*************************/
.hx-header {
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.05);
    max-height: 3rem;
}

.hx-header-image {
    width: 1.9rem;
    height: 1.9rem;
}

@media (min-width: 768px) {
    .hx-header .navbar-nav > li > a {
        padding: 0.5rem;
    }

    .hx-header .toggle {
        display: none;
    }
}

/*****************用户头像**********************/
.hx-avatar {
    position: relative;
}
    .hx-avatar.sm-avater a,
    .hx-avatar.md-avater a {
        position: relative;
        display: inline-block;
    }

        .hx-avatar.sm-avater a:before,
        .hx-avatar.md-avater a:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 50%;
        }

.hx-circle {
    border-radius: 50% !important;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.hx-avatar._160x160{
    width:10rem;
    height:10rem;
}
.hx-avatar._80x80 {
    width: 5rem;
    height: 5rem;
}
.hx-avatar._50x50 {
    width: 3rem;
    height: 3rem;
}
.hx-avatar._32x32 {
    width: 2rem;
    height: 2rem;
}
    .hx-avatar._160x160 img,
    .hx-avatar._80x80 img,
    .hx-avatar._50x50 img,
    .hx-avatar._32x32 img {
        width: 100%;
        height: 100%;
    }
    .hx-dimmer {
        display: none;
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        padding: 1em;
        background-color: rgba(0,0,0,.85);
        opacity: 0;
        line-height: 1;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-transition: background-color .5s linear;
        transition: background-color .5s linear;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        will-change: opacity;
        z-index: 1000;
    }

.hx-avatar .hx-dimmer {
    z-index: 998 !important;
    background-color: rgba(0,0,0,.1) !important;
}

.hx-avatar .hx-visiable.hx-dimmer,
.hx-avatar .hx-active.hx-dimmer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
}

.hx-hidden.hx-transition {
    display: none;
    visibility: hidden;
}

.hx-visiable.hx-transition {
    display: block;
    visibility: visible;
}

.hx-transition {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/******************博客中的浅色字体************************/
.hx-light-content {
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
    background: none transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
}

    .hx-light-content .hx-text {
        color: rgba(0,0,0,.4);
        box-shadow: none;
        -webkit-box-shadow: none;
        transition: color .1s ease;
        -webkit-transition: color .1s ease;
    }

/******************重写bootstrap中的自定义复选框Begin************************/
.hx-control-label {
    margin: auto 0;
}

    .hx-control-label::before {
        /*top: 0.05rem;*/
        left: -1.3rem;
    }

    .hx-control-label::after {
        /*top: 0.05rem;*/
        left: -1.3rem;
    }
/**************************设置editormd中的样式*******************************/

/*******************卡片************************/
.hx-card-header {
    padding: 0.5rem 1rem;
}

.hx-card-body {
    padding: 0.8rem;
}

.hx-card-footer {
    padding: 0.5rem 1rem;
}

.hx-card-footer-link a {
    display: block;
    font-size: 0.85em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.hx-card-footer-link:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
/* Set padding to keep content from hitting the edges */
.control-label .required {
    color: #e02222;
    font-size: 1.2rem;
    padding-left: .2rem;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*博客中侧边栏样式*/



/* Set width on the form input elements since they're 100% wide by default */
/*导航栏*/
.navbar .nav > li > .dropdown-menu {
    margin-top: 4px;
}

    .navbar .nav > li > .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        content: '';
    }

    .navbar .navbar-right > li > .dropdown-menu:after,
    .navbar .nav > li > .dropdown-menu.navbar-right:after {
        right: 13px;
        left: auto;
    }
