@import url('hx-size.css');

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Microsoft YaHei UI','Microsoft YaHei',Arial,Helvetica,sans-serif;
    color: #555;
    background: #efefef;
}
.d-flex:not(.flex-column) > .flex-fill {
    width: 0;
}
/**************公共的样式*************************/
/*.hx-container {
    transform: translateY(3.5rem);
    -ms-transform: translateY(3.5rem); 
    -moz-transform: translateY(3.5rem); 
    -webkit-transform: translateY(3.5rem); 
    -o-transform: translateY(3.5rem); 
    padding-left: initial;
    padding-right: initial;
    margin:0 auto;
    max-width:1270px;
}*/
.hx-container {
    padding-left: initial;
    padding-right: initial;
    margin: 0 auto;
    max-width: 1270px;
    margin-top: 3.5rem;
}

.hx-color {
    background-color: #ad93d2;
    background-color: #716aca;
}
.hx-text-wechart {
    color: #07AF12;
}
.hx-text-mail {
    color: #ef5509;
}
.hx-font-color {
    color: #ad93d2;
}
.hx-content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .hx-content-nowrap p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.hx-gray-text {
    color: #8a8a8a;
}

.hx-blue-text {
    color: #3399ea;
}

a {
    cursor: pointer;
}

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
    }

.hx-fa-same {
    width: 1rem;
    text-align: center;
}
.hx-3x {
   font-size:1.75em; 
}

/**************博客的头部*************************/
.hx-header {
    height: 3.25rem;
    line-height: 2.25rem;
}

    .hx-header::before {
        background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
        content: "";
        height: 5px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .hx-2x,
    .hx-header .hx-logo {
        font-size: 1.5em;
    }

    .hx-1x,
    .hx-header .nav-item {
        font-size: 1em;
    }

    .hx-header .dropdown-menu:not(.hx-show) .dropdown-item:active,
    .hx-header .dropdown-menu:not(.hx-show) .dropdown-item:hover,
    .hx-header .navbar-collapse:not(.hx-show) .nav-item.active > a,
    .hx-header .navbar-collapse:not(.hx-show) .nav-item:hover > a {
        color: #00c1de !important;
        background-color: transparent;
    }

    .hx-header .dropdown-item {
        line-height: 2rem;
    }
    /*下拉按钮*/
    .hx-header .dropdown .dropdown-toggle::after {
        border-top: 0.3rem solid #FFF;
        transition: all .5s ease;
        -ms-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        margin-left: 0;
    }

    .hx-header .dropdown.show .dropdown-toggle::after {
        transform: rotate(180deg);
        border-top: 0.3rem solid #fff;
    }
    /*导航栏*/
    .hx-header .dropdown-menu {
        background-color: #343a40;
    }

.dropdown.hx-show .dropdown-menu.show,
.navbar-collapse.hx-show {
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    top: 3.25rem;
}

.dropdown.hx-show .dropdown-menu.show {
    padding: 0;
    margin: 0;
}

    .dropdown.hx-show .dropdown-menu.show a,
    .navbar-collapse.hx-show li {
        text-align: center;
        background: #12b7de;
        float: none;
        display: block;
        font-weight: bold;
    }

.navbar-collapse.hx-show li {
    text-align: left;
    min-width: 10rem;
    width: 8.25rem;
}

.dropdown.hx-show .dropdown-menu.show a {
    width: 8.25rem;
    text-align: right;
    float: right;
}

    .dropdown.hx-show .dropdown-menu.show a:last-child,
    .navbar-collapse.hx-show li:last-child {
        padding-bottom: 100%;
    }

.hx-header .navbar-collapse.hx-show a {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    background: #12b7de;
    border-bottom: #49ccea 1px solid;
}

.hx-header .navbar-collapse.hx-show a {
    text-align: left;
}

.hx-header .navbar-collapse.hx-show .dropdown-menu.show,
.hx-header .navbar-collapse.hx-show .dropdown-menu.show a {
    padding: 0;
    margin: 0;
    border: none;
}

.hx-header .navbar-toggler {
    position: absolute;
    left: 0;
    top: 10px;
}
/*头部固定内容*/
.hx-header .p-absolute {
    position: absolute;
    cursor: pointer;
    padding-right: 0.75rem;
    right: 0.75rem;
}

.hx-navicon {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 0.3rem;
    background-color: #FFF;
}

    .hx-navicon:before,
    .hx-navicon:after {
        content: '';
        display: block;
        width: 1.875rem;
        height: 0.3rem;
        position: absolute;
        background: #FFF;
        -webkit-transition-property: margin, -webkit-transform;
        transition-property: margin, -webkit-transform;
        transition-property: margin, transform;
        transition-property: margin, transform, -webkit-transform;
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
    }

    .hx-navicon:before {
        margin-top: -0.625rem;
    }

    .hx-navicon:after {
        margin-top: 0.625rem;
    }
/*****************用户头像**********************/
.hx-avatar {
    position: relative;
    display: inline-block;
}

    .hx-avatar.sm-avater a,
    .hx-avatar.md-avater a {
        position: relative;
        display: inline-block;
    }

        .hx-avatar.sm-avater a:before,
        .hx-avatar.md-avater a:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 50%;
        }

.hx-circle {
    border-radius: 50% !important;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.hx-avatar._160x160 {
    width: 10rem;
    height: 10rem;
}

.hx-avatar._80x80 {
    width: 5rem;
    height: 5rem;
}

.hx-avatar._50x50 {
    width: 3rem;
    height: 3rem;
}

.hx-avatar._32x32 {
    width: 2rem;
    height: 2rem;
}

    .hx-avatar._160x160 img,
    .hx-avatar._80x80 img,
    .hx-avatar._50x50 img,
    .hx-avatar._32x32 img {
        width: 100%;
        height: 100%;
        display: inline-block;
    }

.hx-dimmer {
    display: none;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    background-color: rgba(0,0,0,.85);
    opacity: 0;
    line-height: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
}

.hx-avatar .hx-dimmer {
    z-index: 998 !important;
    background-color: rgba(0,0,0,.1) !important;
}

.hx-avatar .hx-visiable.hx-dimmer,
.hx-avatar .hx-active.hx-dimmer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
}

.hx-hidden.hx-transition {
    display: none;
    visibility: hidden;
}

.hx-visiable.hx-transition {
    display: block;
    visibility: visible;
}

.hx-transition {
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/******************博客中的浅色字体************************/
.hx-light-content {
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
    background: none transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
}

    .hx-light-content .hx-text {
        color: rgba(0,0,0,.4);
        box-shadow: none;
        -webkit-box-shadow: none;
        transition: color .1s ease;
        -webkit-transition: color .1s ease;
    }

/******************重写bootstrap中的自定义复选框Begin************************/
.hx-control-label {
    margin: auto 0;
}

    .hx-control-label::before {
        /*top: 0.05rem;*/
        left: -1.3rem;
    }

    .hx-control-label::after {
        /*top: 0.05rem;*/
        left: -1.3rem;
    }
/**************************设置editormd中的样式*******************************/

/*******************卡片************************/
.hx-card-header {
    padding: 0.5rem 1rem;
}

.hx-card-body {
    padding: 0.8rem;
}

.hx-card-footer {
    padding: 0.5rem 1rem;
}

.hx-card-footer-link a {
    display: block;
    font-size: 0.85em;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.hx-card-footer-link:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
/* Set padding to keep content from hitting the edges */
.control-label .required {
    color: #e02222;
    font-size: 1.2rem;
    padding-left: .2rem;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*轮播图*/
    .carousel-thumbnail a {
        overflow: hidden;
        height: 100%;
    }
        .carousel-thumbnail a img,
        .carousel-item img {
            height: 100%;
            width: 100%;
            -moz-transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            transition: all .5s ease;
            transition: all 0.5s;
        }
.carousel-thumbnail a img {
    opacity: .75;
}
.carousel-thumbnail a:hover img {
    transform: scale(1.1);
    opacity: 1;
}
.hx-about-me {
    box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
    border-radius: 3px;
    background: url(/images/quote-bg.png) no-repeat top right rgba(42,42,42,1);
    overflow: hidden;
    border: 0.25rem solid #fff;
}
    .hx-about-me .hx-about-header {
        font-size:1.375rem;
        color: #89919a;
    }
    .hx-about-me p {
        font-size: 12px;
        padding-left:1rem;
        text-shadow: 0px 1px 2px rgba(0,0,0,.5);
        color: #d0d2d4;
        -webkit-animation: animations2 5s ease-in-out 5s;
        -moz-animation: animations2 5s ease-in-out 5s;
        -o-animation: animations2 5s ease-in-out 5s;
        -ms-animation: animations2 5s ease-in-out 5s;
        animation: animations2 5s ease-in-out 5s;
    }
    .hx-about-me .hx-about-info {
        display: block;
        overflow: hidden;
        box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
        border-radius: 50%;
        padding: 0.5rem 0.6rem;
    }
        .hx-about-me .hx-about-info:hover {
            opacity:0.65;
        }
        /*媒体类型*/
@media (min-width: 768px) {
    .hx-header .p-absolute {
        position: static;
        padding-right: 0.75rem;
        right: auto;
    }
}
