@{
    ViewBag.ShowFooter = false;
}
@section styles{
    @Styles.Render("~/content/default")
}
@{ 
    Html.RenderPartial("side", new ViewDataDictionary
    {
        {"Categories",ViewBag.Categories }
    });
}
<div class="hx-container blog-container hx-white-container partial-content" data-url="/home/loadarticle" hidden>
</div>
@section scripts{
    <script>
        $(function () {
            loadPartial();
        });
        function loadPartial() {
            $(".partial-content").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url, function (response, status, xhr) {
                        if (status == 'success') {
                            $(this).removeAttr('hidden');
                        } else {
                            $(this).attr('hidden');
                        }
                    });
                }
            })
        }
    </script>    
}
