@{
    ViewBag.ShowFooter = false;
}
@section styles{
    @Styles.Render("~/content/default")
}
<div class="hx-container blog-sidebar hx-white-container">
    <nav class="nav flex-column mt-1">
        <ul class="navbar-nav nav-fill">
            <li class="nav-item active bg-light">
                <a class="nav-link text-secondary" href="#">推荐</a>
            </li>
            <li class="nav-item bg-light">
                <a class="nav-link text-secondary" href="#">关注</a>
            </li>
            <li class="nav-item bg-light">
                <a class="nav-link text-secondary" href="#">专题</a>
            </li>
            @if (ViewBag.CategoryList != null)
            {
                foreach (HxBlogs.Model.Category item in ViewBag.CategoryList)
                {
                    <li class="nav-item bg-light">
                        <a class="nav-link text-secondary" href="#">@item.Name</a>
                    </li>
                }
            }
        </ul>
    </nav>
</div>
<div class="hx-container blog-container hx-white-container partial-content" data-url="/home/loadarticle" hidden>
</div>
@section scripts{
    <script>
        $(function () {
            loadPartial();
        });
        function loadPartial() {
            $(".partial-content").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url, function (response, status, xhr) {
                        if (status == 'success') {
                            $(this).removeAttr('hidden');
                        } else {
                            $(this).attr('hidden');
                        }
                    });
                }
            })
        }
    </script>    
}
