@{
    ViewBag.ShowFooter = false;
}
@section styles{
    @Styles.Render("~/content/default")
}
<div class="hx-container">
    @{ 
        Html.RenderPartial("top", Model as System.Collections.Generic.List<HxBlogs.WebApp.Models.BlogViewModel>);
    }
    <div class="hx-white-container partial-content mt-3" data-url="/home/loadarticle" hidden>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            loadPartial();
        });
        function loadPartial() {
            $(".partial-content").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url, function (response, status, xhr) {
                        if (status == 'success') {
                            $(this).removeAttr('hidden');
                        } else {
                            $(this).attr('hidden');
                        }
                    });
                }
            })
        }
    </script>    
}
