<div class="card-header hx-card-header">
    随笔归档
</div>
<div class="card-body">
    <div class="d-flex flex-column justify-content-start">
        @if (ViewBag.ArchiveList != null)
        {
            foreach (KeyValuePair<string,int> item in ViewBag.ArchiveList)
            {
                <a class="hx-content-nowrap" target="_blank" href="@(WebHelper.GetFullUrl("/article/archive/"+item.Key.Substring(0,4)+"/"+item.Key.Substring(4)))">
                    <span>@item.Key</span>
                    <span>((@item.Value)篇)</span>
                </a>
            }
        }
    </div>
</div>
