@model HxBlogs.Model.Blog
@{
    ViewBag.Title = Model.Title;
}
<div class="blog-container">
    <div class="d-flex">
        <aside class="d-flex flex-column" style="width:200px;">
            <div class="d-inline-flex white-area align-items-center">
                <div class="user-md-avater mr-2">
                    <a>
                        <img src="~/Content/Plugin/Metronic/image/avatar.png" />
                    </a>
                </div>
                <div class="mr-1">@(Model.User == null ? "" : (string.IsNullOrEmpty(Model.User.NickName) ? Model.User.UserName : Model.User.NickName))</div>
                <div class=""></div>
            </div>
            <div>

            </div>
            <div>

            </div>
        </aside>
        <div class="flex-fill">
            22222
        </div>
    </div>
</div>

