<div class="card-header hx-card-header">
    最新文章
</div>
<div class="card-body">
    <div class="d-flex flex-column justify-content-start">
        @if (ViewBag.BlogList != null)
        {
            foreach (HxBlogs.Model.Blog blog in ViewBag.BlogList)
            {
                <a class="hx-content-nowrap" target="_blank" href="@(WebHelper.GetFullUrl("/article/"+blog.UserName+"/"+Hx.Common.Helper.Helper.ToHex(blog.Id)))">@blog.Title</a>
            }
        }
    </div>
</div>
