<div class="hx-register" @(ViewBag.IsPop==true?"hidden":"")>
    @using (Ajax.BeginForm("registeruser", "account", new { },
        new AjaxOptions()
        {
            OnBegin = "hxAccount.register.begin",
            HttpMethod = "post",
            OnSuccess = "hxAccount.register.success",
            OnComplete = "hxAccount.register.finish"
        }, new
        {
            @class = "form-vertical register-form",
            role = "form",
            id = "registerForm"
        }))
    {
        <h3 class="mb-4 text-center">用户注册</h3>
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
        <div class="form-row mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-user hx-fa-same"></i>
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="用户名" name="UserName" />
            </div>
        </div>
        <div class="form-row  mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-envelope hx-fa-same"></i>
                    </div>
                </div>
                <input class="form-control" type="text" placeholder="邮箱" name="Email"/>
            </div>
        </div>
        <div class="form-row  mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-lock hx-fa-same"></i>
                    </div>
                </div>
                <input type="password" class="form-control" placeholder = "密码" name="PassWord" />
            </div>
        </div>
        <div class="form-row  mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-check hx-fa-same"></i>
                    </div>
                </div>
                <input type="password" class="form-control" name="PwdConfirm" placeholder = "确认密码"/>
            </div>
        </div>
        <div class="form-row mb-4">
            <input type="submit" class="btn btn-outline-secondary w-100" value="注册" />
        </div>
    }
</div>
