
@{
    ViewBag.Title = "写文章";
}
<div>
    <h2>Edit</h2>
    <textarea name="content" id="editor" rows="30"></textarea>
</div>
@section scripts{
<script src="~/Content/Plugin/CkEditor/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor.create(document.querySelector('#editor'))
            .then(editor => {
                window.ckEditor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
}

