//颜色
$body-bg-color: #efefef !default; //body 的背景颜色
$base-color: #00c1de !default; //@颜色
$font-color: #3d3d3d !default; //字体颜色黑色
$font-hovered-color: #00c1de !default; //鼠标在元素上面时字体颜色黑色
$green: #07AF12 !default;//微信绿
$orange: #ef5509 !default;//橙色
$purple: #ad93d2 !default;//紫色
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$dark: #292b3a !default; //黑色
$black: #000 !default;//黑色
$blue: #3399ea !default; //蓝色
$white: #FFF !default; //蓝色
//后台管理颜色
$toggler-icon-color: #5d5f77;
$toggler-icon-hover-color: #716aca;
