
@import url('../font/font-awesome.css');
html {
    height:100%;
}
body {
    margin: 0;
    padding: 0;
    background: #f5f7f7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 4rem;
    background: #fff;
}
.control-label .required {
    color: #e02222;
    font-size: 1.2rem;
    padding-left: .2rem;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*导航栏*/
.navbar .nav > li > .dropdown-menu {
    margin-top:4px;
}
.navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.navbar .navbar-right>li>.dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.navbar-right:after {
    right: 13px;
    left: auto;
}
/*加载*/

