body {
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #dbc1a7;
    background: #110915;
}
ul, li {
    list-style: none;
}
* {
    margin: 0;
    padding: 0
}
header .header-panel {
    padding: 25px 0;
    margin: auto;
    background: url(../Images/head/headerpanel.jpg) center top no-repeat;
}
header .header-title {
    font-size: 50px;
    color: #d3c2f9;
    float: left;
    padding: 55px 0 33px;
}
header .header-search {
    padding: 39px 0 0;
}
header .header-search-input {
    background: none;
    border: 1px solid #874d76;
    color: #ffffff;
    font-variant: normal;
    padding-right: 10px;
}
