/********浏览页面*********/
.blog-view {
    font-family: "Pingfang SC",STHeiti,"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,sans-serif;
}
    .blog-view .blog-aside {
        width:300px;
        min-width:250px;
    }
    .blog-view .blog-content,
    .blog-view .blog-content p {
        color: #3d464d;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 0 0 1rem;
        overflow-x: auto;
    }
    .blog-view .blog-tag a {
        padding: 0 0.5rem;
        min-width: 1.5rem;
        border: 1px solid #e0e0e0;
        background-color: #e8e8e8;
        border-radius: 6.25rem;
        color: rgba(0,0,0,.6);
        text-align: center;
    }
        .blog-view .blog-tag a:hover {
            background-color: #e0e0e0;
            border-color: #e0e0e0;
            background-image: none;
            color: rgba(0,0,0,.8);
        } 
        .hx-card-header {
            padding: 0.5rem 1rem;
        }
.hx-aside-title {
    border-bottom: solid 1px #e9ecef;
}

