

.blog-list {
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
    background: none transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;

}
.blog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.2rem 1.75rem;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    width: 100%;
    min-height: 0;
    background: 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .1s ease;
}
    .blog-item a {
        color: #999;
    }

.blog-item-content {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
    width:100%;
}
.blog-item-summary {
    margin-bottom: .35rem;
    color: #999;
    font-size: 1em;
    line-height: 2.1rem;
}
.content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.blog-item-title {
    width:100%;
}
    .blog-item-title a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #3d3d3d;
        font-weight: 700;
    }
        .blog-item-title a:hover {
            color: #4183c4;
            text-decoration: none;
        }
.blog-item-user {
    display: block;
    position: relative;
    background: 0 0;
    margin: .5rem 0 0;
    width: 100%;
    padding: 0 0 0;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    border-top: none;
}
    .blog-item-user .blog-item-hbox {
        display: inline-block;
        margin: .3rem .5rem .3rem 0;
        width: 100%;
    }
        .blog-item-user .blog-item-hbox div {
            display: inline-block;
            margin-right:.14rem;
        }
    .blog-item-user .avatar {
    }
        .blog-item-user .avatar a {
            position: relative;
            display: inline-block;
        }
        .blog-item-user .avatar img {
            width: 2rem;
            height: 2rem;
            border-radius: 50% !important;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
        }
        .blog-item-user .avatar a::before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 50%;
        }
      
    .blog-item-user .username {
    }
    .blog-item-user .blogtag {
    }
    .blog-item-user .time {
    }
    .blog-item-user .read {
    }
    .blog-item-user .read-num, .comment-num {
        color: #3399ea;
    }
    .blog-item-user .read-text,.comment-text {
        color: #8a8a8a;
    } 
    .blog-item-user .comment,read {
        margin-left:.25rem;
    }
    .blog-item-user .read:hover .read-text, .comment:hover .comment-text {
        color: #157dcf;
    }
    
    @media only screen and (min-width: 768px) {
        body {
        background: #f8f8f8;
    }
}
