
/**侧边栏**/
.blog-sidebar {
    position: fixed;
    width: 6rem;
    top: 0;
    z-index: 1030;
    height: 100%;
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
}


    .blog-sidebar .active,
    .blog-sidebar li:hover {
        background-color: #545b62 !important;
    }

        .blog-sidebar .active a,
        .blog-sidebar li:hover a {
            color: #fff !important;
        }

    .blog-sidebar li {
        margin-bottom: 0.05rem !important;
    }

/**博客内容**/
.blog-content {
    transform: translate3d(6.5rem,0,0);
    max-width: calc(100% - 6.5rem);
}

.blog-list {
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
    background: none transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
}

.blog-item {
    padding: 1rem 1.5rem;
    background: #fff;
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    min-height: 0;
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .1s ease;
    transition: -webkit-box-shadow .2s ease;
    -webkit-transition: -webkit-box-shadow .2s ease;
}

    .blog-item a {
        color: #999;
    }

.blog-item-content {
    background: 0 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
    width: 100%;
}

.blog-item-summary {
    margin-bottom: .35rem;
    color: #999;
    font-size: 1em;
    line-height: 2.1rem;
}

.blog-content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .blog-content-nowrap p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.blog-item-title {
    width: 100%;
}

    .blog-item-title a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #3d3d3d;
        font-weight: 700;
    }

        .blog-item-title a:hover {
            color: #4183c4;
            text-decoration: none;
        }

.blog-item-user {
    margin: .5rem 0 0;
    color: rgba(0,0,0,.4);
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: color .1s ease;
    -webkit-transition: color .1s ease;
}

.blog-avatar a {
    position: relative;
    display: inline-block;
}

.blog-avatar img {
    width: 2rem;
    height: 2rem;
    border-radius: 50% !important;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
}

.blog-avatar a::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 50%;
}

.blog-read-num,
.blog-comment-num {
    color: #3399ea;
}

.blog-read-text,
.blog-comment-text {
    color: #8a8a8a;
}

.blog-read:hover .blog-read-text,
.blog-comment:hover .blog-comment-text {
    color: #157dcf;
}

@media only screen and (min-width: 768px) {
    body {
        background: #e9ecef;
    }
}
