@media (min-width: 980px) {
    /***
 	Page sidebar
 	***/
    .page-sidebar-fixed {
        position: fixed;
        width: 220px;
        height: 100%;
    } .page-sidebar {
        position: absolute;
        width: 225px;
    }

    .page-sidebar-fixed .page-sidebar {
        position: fixed !important;
        top: 41px;
    }

    .page-sidebar-fixed ul.page-sidebar-menu > li.last {
        margin-bottom: 15px !important;
    }

    .page-sidebar-fixed.page-sidebar-hover-on .page-sidebar {
        z-index: 10000;
        width: 35px;
    }

        .page-sidebar-fixed.page-sidebar-hover-on .page-sidebar .selected {
            display: none;
        }

    .page-sidebar-fixed.page-sidebar-hover-on .page-content {
        margin-left: 35px;
    }

    .page-sidebar-fixed.page-sidebar-hover-on .footer {
        margin-left: 35px;
    }

    .page-sidebar-fixed .page-sidebar-closed .page-sidebar .sidebar-search .submit,
    .page-sidebar-fixed .page-sidebar .sidebar-toggler {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .page-sidebar-hovering {
        overflow: hidden !important;
    }

        .page-sidebar-hovering .sub-menu,
        .page-sidebar-hovering span.title,
        .page-sidebar-hovering span.arrow {
            display: none !important;
        }

        .page-sidebar-hovering .submit {
            opacity: 0;
            width: 0 !important;
            height: 0 !important;
        }

    /***
  	Page content
  	***/
    .page-content {
        margin-left: 225px;
        margin-top: 0px;
        min-height: 760px;
    }

    .page-sidebar-fixed .page-content {
        min-height: 600px;
    }

    .page-content.no-min-height {
        min-height: auto;
    }

    /***
	Footer
	***/

    /* fixed sidebar */
    .page-sidebar-fixed .footer {
        margin-left: 225px;
        background-color: #fff;
    }

        .page-sidebar-fixed .footer .footer-inner {
            color: #333;
        }

    .page-sidebar-fixed.page-sidebar-closed .footer {
        margin-left: 35px;
    }

    .page-sidebar-fixed .footer .footer-tools .go-top {
        background-color: #666;
    }

        .page-sidebar-fixed .footer .footer-tools .go-top i {
            color: #ddd;
        }

    /* boxed layout */
    .page-boxed .header .brand {
        margin-left: 0px !important;
        width: 226px;
    }

        .page-boxed .header .brand img {
            margin-left: 10px;
        }
}


/*********************博客内容******************************************/
.blog-list {
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
    background: none transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: 0;

}
.blog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.2rem 1.75rem;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
    width: 100%;
    min-height: 0;
    background: 0 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .1s ease;
}
    .blog-item a {
        color: #999;
    }

.blog-item-content {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background: 0 0;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border: none;
    border-radius: 0;
    width:100%;
}
.blog-item-summary {
    margin-bottom: .35rem;
    color: #999;
    font-size: 1em;
    line-height: 2.1rem;
}
.content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.blog-item-title {
    width:100%;
}
    .blog-item-title a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #3d3d3d;
        font-weight: 700;
    }
        .blog-item-title a:hover {
            color: #4183c4;
            text-decoration: none;
        }
.blog-item-user {
    display: block;
    position: relative;
    background: 0 0;
    margin: .5rem 0 0;
    width: 100%;
    padding: 0 0 0;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    border-top: none;
}
    .blog-item-user .blog-item-hbox {
        display: inline-block;
        margin: .3rem .5rem .3rem 0;
        width: 100%;
    }
        .blog-item-user .blog-item-hbox div {
            display: inline-block;
            margin-right:.14rem;
        }
    .blog-item-user .avatar {
    }
        .blog-item-user .avatar a {
            position: relative;
            display: inline-block;
        }
        .blog-item-user .avatar img {
            width: 2rem;
            height: 2rem;
            border-radius: 50% !important;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
        }
        .blog-item-user .avatar a::before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 50%;
        }
      
    .blog-item-user .username {
    }
    .blog-item-user .blogtag {
    }
    .blog-item-user .time {
    }
    .blog-item-user .read {
    }
    .blog-item-user .read-num, .comment-num {
        color: #3399ea;
    }
    .blog-item-user .read-text,.comment-text {
        color: #8a8a8a;
    } 
    .blog-item-user .comment,read {
        margin-left:.25rem;
    }
    .blog-item-user .read:hover .read-text, .comment:hover .comment-text {
        color: #157dcf;
    }
    
    @media only screen and (min-width: 768px) {
        body {
        background: #f8f8f8;
    }
}
