.blog-edit {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-height: calc(100vh - 4rem);
}
    .blog-edit .ck-content {
        min-height: calc(100vh - 26rem);
    }
    .blog-edit textarea {
        visibility:hidden;
        height:100%;
    }
    .blog-edit .blog-category-label {
        margin-top: .26rem;
    }
    .blog-edit .form-group-tag {
        display:flex;
    }
    .blog-edit .blog-control-label {
        width: auto;
    }
    .blog-edit .tag-box {
        display: flex;
        line-height: 3.2rem;
        flex-wrap: wrap;
        margin-right:5px;
    }
        .blog-edit .tag-box i {
            margin: auto 0;
            color: #E0E0E0;
            cursor: pointer;
        }
        .blog-edit .tag-box .tag {
            margin: auto 0;
            display: block;
            padding: 3px 8px;
            font-size: 12px;
            max-width: 480px;
            background: #e9e9e9;
            border-radius: 2px;
            line-height: 15px;
            height: 21px;
            color: #4f4f4f;
            overflow: hidden;
            white-space: nowrap;
            box-sizing: border-box;
            outline: none;
        }

    @media (max-width: 992px) {
        .blog-col-pull-2 {
        right: 20%;
    }
}
@media (max-width:776px) {
    .blog-col-xs-pull-1 {
        left: 8.333333333333332%;
    }
}


