
/*@import url('/Content/font/');*/

html {
    height: 100%;
}

body {
    font-family: 'PingFang SC','Helvetica Neue','Microsoft YaHei UI','Microsoft YaHei','Noto Sans CJK SC',Sathu,EucrosiaUPC,Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 0.875rem;
    line-height: 1.4285em;
    background: #e9ecef;
}
/**************博客的头部*************************/
.blog-header {
    box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,.05);
}

.blog-header-image {
    width: 1.9rem;
    height: 1.9rem;
}

@media (min-width: 768px) {
    .blog-header .navbar-nav > li > a {
        padding: 0.5rem;
    }

    .blog-header .toggle {
        display: none;
    }
}

.hx-white-content {
    background: #fff;
}

.hx-content-nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .hx-content-nowrap p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.hx-container {
    margin-top: 3rem;
    padding-left: initial;
    padding-right: initial;
}
/*****************用户头像**********************/
.user-sm-avater,
.user-md-avater {
}

    .user-sm-avater a,
    .user-md-avater a {
        position: relative;
        display: inline-block;
    }

        .user-sm-avater a:before,
        .user-md-avater a:before {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 50%;
        }

    .user-sm-avater img,
    .user-md-avater img {
        border-radius: 50% !important;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
    }

    .user-sm-avater img {
        width: 2rem;
        height: 2rem;
    }

    .user-md-avater img {
        width: 2.5rem;
        height: 2.5rem;
    }

a:hover, a:active, a:focus {
    cursor: pointer;
    text-decoration: none;
    color: #428bca;
}

.hx-fa-same {
    width: 1rem;
    text-align: center;
}
/******************博客中的浅色字体************************/
.hx-light-content {
    font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif !important;
    background: none transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    border-radius: 0;
    width: 100%;
}

    .hx-light-content .hx-text {
        color: rgba(0,0,0,.4);
        box-shadow: none;
        -webkit-box-shadow: none;
        transition: color .1s ease;
        -webkit-transition: color .1s ease;
    }

/******************重写bootstrap中的自定义复选框Begin************************/
.hx-control-label {
    margin: auto 0;
}

    .hx-control-label::before {
        top: 0.05rem;
        left: -1.3rem;
    }

    .hx-control-label::after {
        top: 0.05rem;
        left: -1.3rem;
    }
/*******************卡片************************/
.hx-card-header {
    padding: 0.5rem 1rem;
}

.hx-card-footer {
    padding: 0.5rem 1rem;
}
    .hx-card-footer-link a {
        display: block;
        font-size: 0.85em;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }
.hx-card-footer-link:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
    /* Set padding to keep content from hitting the edges */
    .control-label .required {
        color: #e02222;
        font-size: 1.2rem;
        padding-left: .2rem;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*导航栏*/
.navbar .nav > li > .dropdown-menu {
    margin-top: 4px;
}

    .navbar .nav > li > .dropdown-menu:after {
        position: absolute;
        top: -6px;
        left: 10px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent;
        content: '';
    }

    .navbar .navbar-right > li > .dropdown-menu:after,
    .navbar .nav > li > .dropdown-menu.navbar-right:after {
        right: 13px;
        left: auto;
    }
/*加载*/


