
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统错误</title>
</head>
<body>
    <div> 
        <img src="~/Content/Images/500.png" />
        @ViewData["errorUrl"]
    </div>
</body>
</html>
