@{
    Layout = "~/Areas/Admin/Views/Shared/_UCLayout.cshtml";
}
<div class="d-flex flex-column hx-container hx-white-container p-3">
    @{ 
        Html.RenderPartial("side");
    }
    <div>

    </div>
</div>

