<div>
    <div class="item">
        <h4 class="ui header">个人信息管理</h4>
        <div class="menu">
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/inbox">
                    我的消息
                </a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/profile">修改个人资料</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/chpwd">修改登录密码</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/change-email">修改登录邮箱</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/user-settings">个人主页设置</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/mail-settings">邮件提醒设置</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/openid">第三方帐号绑定</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/bind-tel">手机绑定设置</a>
            </div>
        </div>
    </div>
    <div class="item">
        <h4 class="ui header">个人隐私管理</h4>
        <div class="menu">
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/privacy">个人动态管理</a>
            </div>
            <div class="item active">
                <a href="https://my.oschina.net/u/3731124/admin/blacklist">灰名单管理</a>
            </div>
        </div>
    </div>
    <div class="item">
        <h4 class="ui header">博客管理</h4>
        <div class="menu">
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/blog/write" target="_blank">发表博文</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/drafts">
                    草稿箱
                    <div class="ui mini circular label">1</div>
                </a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/blog-settings">博客设置</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/blog-catalogs">分类管理</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/blog-comments">评论管理</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/blog-export">导出备份</a>
            </div>
        </div>
    </div>
    <div class="item">
        <h4 class="ui header">协作翻译管理</h4>
        <div class="menu">
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/translation">我翻译的</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/translation-delivered">我投递的</a>
            </div>
        </div>
    </div>
    <div class="item">
        <h4 class="ui header">其它</h4>
        <div class="menu">
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/releases">我投递的新闻</a>
            </div>
            <div class="item">
                <a href="https://my.oschina.net/u/3731124/admin/projects">投递软件管理</a>
            </div>
        </div>
    </div>
</div>
