<div class="hx-sidebar hx-minw-3">
    <nav class="nav flex-column">
        <ul class="navbar-nav nav-fill">
            <li class="nav-item active px-4 bg-light">
                <a class="nav-link text-secondary" href="#">推荐</a>
            </li>
            <li class="nav-item bg-light">
                <a class="nav-link text-secondary" href="#">关注</a>
            </li>
            <li class="nav-item bg-light">
                <a class="nav-link text-secondary" href="#">专题</a>
            </li>
        </ul>
    </nav>
</div>
